body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 8px;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.label {
  background: whitesmoke;
  color: gray;
  font-size: x-small;
  margin: 1px;
  text-align: center;
  user-select: none;
}

.button {
  background: whitesmoke;
  color: gray;
  height: 60px;
  line-height: 60px;
  margin: 1px;
  text-align: center;
  user-select: none;
}

.button.active {
  background: gray;
  color: whitesmoke;
}

.button.small {
  height: 30px;
  line-height: 30px;
}

.button.value {
  height: 40px;
  line-height: 40px;
}

.overlay {
  background: rgba(0, 0, 0, 60%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup {
  background: white;
  height: 60%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.button.list-item {
  height: 30px;
  line-height: 30px;
}